body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #333;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #212388;
}

input {
  padding: 10px;
  margin-right: 10px;
}

section {
  margin-bottom: 30px;
}

#accountDisplay, #winnerDisplay {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
